*{
    padding: 0px;
    margin: 0px;

}

#my_chat{
    background-color: rgb(58, 58, 245);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: larger;
}

.info{
    display: block;
    margin: auto auto;
    box-shadow: 2px black;
    padding: 10px;
    /* align-self: ; */
}